.header-banner{
    background-color: #FEFAE0;
    height: 60px;
    width:100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    z-index: 1000;

}
.header-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    position: fixed;
    width: 300px;
    left: 44vw;
    color: #BC6C25;
    text-align: center;
    font-weight: bolder;
    text-shadow: -1px 0 #924e12, 0 1px #924e12, 1px 0 #924e12, 0 -1px #924e12;
}
.header-button-group{
    width:450px;
    position:absolute;
    height:60px;
    top:0;
    display: flex;
    align-items:flex-start;
}
.header-button{
    width: 150px;
    height: 60px;
    background-color: #BC6C25;
    color: white;
    border: 1px solid;
    border-color: #ac611f;
    font-size: 15px;
    position:relative;
    top:0;
    font-weight: bold;
    text-shadow: -1px 0 #924e12, 0 1px #924e12, 1px 0 #924e12, 0 -1px #924e12;
}

.header-button:hover{
    background-color: white;
    color: #BC6C25;
    height: 65px;
    font-size: 20px;
    text-shadow: none;
}