.home-body{
    height:calc(100vh - 40px);
    width: 100vw;
    overflow-y: scroll;
    margin: 0;
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #082d07;
    opacity: 1;
    background-image:  linear-gradient(#173b0d 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(90deg, #173b0d 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(#173b0d 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(90deg, #173b0d 0.6000000000000001px, #082d07 0.6000000000000001px);
    background-size: 30px 30px, 30px 30px, 6px 6px, 6px 6px;
    background-position: -1.2000000000000002px -1.2000000000000002px, -1.2000000000000002px -1.2000000000000002px, -0.6000000000000001px -0.6000000000000001px, -0.6000000000000001px -0.6000000000000001px;
}

.home-container{
    /* background: linear-gradient(90deg,#2f1b41 0%, #2f1b41 30%,#573079 45%, #573079 55%, #2f1b41 70%, #2f1b41 100%); */
    /* background-color: #082d07; */
    position: relative;
    top:0;
    left:25vw;
    height:2500px;
    width: 50vw;
    margin: 0;
    overflow-y:hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    
}

.home-body::-webkit-scrollbar {
    display: none;
  }

.home-img{
    position: relative;
    /* left: calc(50vw - 12vw); */
    height:20vw;
    width: 20vw;
    background-color: #606C38;
    margin: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    font-size: 30px;
    border-color: black;
    border: 3px solid;
    box-shadow: 0px 0px 10px 2px black;
}

.home-img:hover{
    height:24vw;
    width:24vw;
    margin: 0px;
    /* left: calc(50vw - 12vw); */
    font-size: 40px;
    border-color: white;
    box-shadow: 0px 0px 50px 5px white;

}